
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f8;
    color: #333;
    margin: 0;
    padding: 20px;
}


header {
    transition: all 1s ease;
    
    background: #5D1049; 
    color: #FFFFFF;
}

header.small-header {
    padding: 10px 0;
    font-size: 0.8em;
}


section {
    background: #FFFFFF;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-out;
}

section:hover {
    transform: translateY(-5px);
}


.button {
    background: linear-gradient(45deg, #FFC107, #FF5722);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.button:hover {
    opacity: 0.8;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}
